*{
    margin: 0;
    padding: 0;
}

$PaleBlue: hsl(243, 100%, 93%);
$GrayishBlue: hsl(229, 7%, 55%);
$DarkBlue: hsl(228, 56%, 26%);
$VeryDarkBlue: hsl(229, 57%, 11%);


main{
    justify-content: center;
    position: relative;
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    font-family: 'raleway', sans-serif;
    width: 23.4375rem;
    height: 100vh;
    overflow: hidden;
    color: white;
    block-size: border-box;
}

.wrapper{
    background-color: $DarkBlue;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 12px;
    padding: 2.2rem;
}

li{
    display: flex;
    align-items: center;
    
}

.top-padding{
    padding-top: 1rem;
}

div ul:first-child{
    margin-left: 0;
}
ul{
    margin-left: 1rem;
}
.button{
    position: relative;
    background-color: $VeryDarkBlue;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.icon_wrapper{
    margin-top: 8rem;
    height: 6.5rem;
    border-top-right-radius: 90px;
}
.bar{
    background-color: $VeryDarkBlue;
    height: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
    border-radius: 50px;
    block-size: content-box;
    .progress{
        position: relative;
        top:2px;
        left: 2px;
        background: linear-gradient(90deg,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        height: .9rem;
        border-radius: 50px;
        width: 80%;
        margin-top: 2px;
        justify-content: space-around;
        align-items: center;
        .ball{
            width: .8rem;
            height: .8rem;
            background-color: $PaleBlue;
            position: relative;
            left: 93%;
            top: 2px;
            border-radius: 50%;
        }
    }
}
.loading_wrapper{
    font-size: 0.875rem;
    margin-top: 1rem;
    text-align: center;
        .storage{
            font-size: 0.75rem;
            font-weight: 700;
            opacity: .7;
            display: flex;
            justify-content: space-between;
        }
}

.left_message{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 10rem;
    height: 4rem;
    position: absolute;
    top: 27.6rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    p{
        font-size: 2rem;
        font-weight: 800;
        padding-right: .7rem;
    }
    span{
        font-size: 0.75rem;
        color: $GrayishBlue;
        font-weight: 700;
    }
}
